body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("http://intrestingimages.com/images/cool-purple-backgrounds/cool-purple-backgrounds-01.jpg");
}

h1 {
  margin-top: 100px;
  text-align: center;
}
